
@import "./functions";

@mixin build-theme($theme) {

    --theme-background: #{map-get($theme, 'background')};
    --theme-error: #{map-get($theme, 'error')};

    --theme-primary: #{map-get($theme, 'primary')};
    --theme-primary-lightened: #{tint(map-get($theme, 'primary'), 10%)};
    --theme-primary-darkened: #{shade(map-get($theme, 'primary'), 10%)};
    
    --theme-surface: #{map-get($theme, 'surface')};
    --theme-surface-lightened: #{tint(map-get($theme, 'surface'), 10%)};
    --theme-surface-darkened: #{shade(map-get($theme, 'surface'), 10%)};

    --theme-secondary: #{map-get($theme, 'secondary')};
    --theme-secondary-lightened: #{tint(map-get($theme, 'secondary'), 10%)};
    --theme-secondary-darkened: #{shade(map-get($theme, 'secondary'), 10%)};

    --theme-on-background: #{get-font-color(map-get($theme, 'background'))};
    --theme-on-surface: #{get-font-color(map-get($theme, 'surface'))};
    --theme-on-primary: #{get-font-color(map-get($theme, 'primary'))};
    --theme-on-secondary: #{get-font-color(map-get($theme, 'secondary'))};
    --theme-on-error: #{get-font-color(map-get($theme, 'error'))};

}