@import "../theme/functions";

:host {
    display: contents;
}

// Disabling some defaults
button {
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 0.02em;
    font: inherit;
    border-style: none;
}

// Default button styles
button {
    cursor: pointer;
    font-weight: 600;
    padding: 5px 10px;
}

// <button>
:host(:not([flat]):not([outlined])) {
    button {
        background-color: var(--theme-primary);
        color: var(--theme-on-primary);
        &:hover {
            background-color: var(--theme-primary-lightened);
        }
    }
}

// <button flat>
:host([flat]) {
    button {
        background-color: transparent;
        color: var(--theme-on-surface, #000);
        &:hover {
            text-decoration: underline;
        }
    }
}

// <button outlined>
:host([outlined]) {
    button {
        background-color: transparent;
        color: var(--theme-on-surface, #000);
        border-style: var(--button-border-style, solid);
        border-color: var(--button-outline-color, --theme-on-surface);
    }
    button:hover {
        background-color: var(--theme-surface-darkened);
    }
}