@import "../icon/material-icons";

#container {
    position: relative;
    padding-left: 26px;
}
i {
    position: absolute;
    left: 0;
    top: -1px;
}

:host([checked]) {
    .if-unchecked {
        display: none;
    }
}
:host(:not([checked])) {
    .if-checked {
        display: none;
    }
}