@import "../theme/functions";

:host {    
    position: relative;
    display: inline-block;
}

.ripple {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: var(--theme-surface, #fff);
    color: var(--theme-on-surface, #000);
}
.ripple:hover {
    // background-color: shade(#fff, 10%);
    // outline-style: groove;
    // outline-width: 5px;
    // outline-color: hsl(0, 0%, 90%);

    box-shadow: 0 5px 1px -2px rgba(0,0,0,.2), 0 5px 2px 0 rgba(0,0,0,.14), 0 5px 5px 0 rgba(0,0,0,.12);
}