
@import "../theme/functions";

:host {
    display: inline-block;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--theme-surface, #fff);
    color: var(--theme-on-surface, #000);
    outline: 2px solid transparent;
    margin: 5px;
    padding: 15px 10px;
}
.card:hover {
    transform: translate3d(0,-4px,0);
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
    transition-property: box-shadow,transform;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
}